@model ReservationDto

<div>
    <p>giriş tarihi :@Model.CheckInDate</p>
    <p>çıkış tarihi :@Model.CheckOutDate</p>
    <p>rezervasyon numarası:@Model.ReservationNumber</p>
    <p>oda numarası:@Model.RoomNumber</p>
    <button data-bs-dismiss="modal">Kapat</button>

</div>