@model RoomCreateRequest

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="CreateRoom" method="post">
    <input type="hidden" asp-for="RoomTypeId"  />
    <div class="form-group">
        <label asp-for="RoomNumber" class="control-label"></label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
        <button type="submit" class="btn btn-primary" >Add room  number</button>
    </div>
</form>