@model IEnumerable<RoomDto>


@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@foreach (var room in Model)
{
    <span>@room.RoomNumber</span>
}